.project_block_title {
	font-size: 20px;
	line-height: 26px;
	font-weight: 500;
	color: #3182bd;
	padding: 20px 0;
}


 .project_block_top_form {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
    width: 320px;
	margin-right: 25px;
 }

 .project_block_top_form input {
	width: 100%;
    height: 38px;
    padding-left: 15px;
    border: 1px solid #121212;
    border-radius: 5px;
    outline: none;
    color: #9E9C9C;
 }

 .project_block_top_form button {
	background: none;
	height: 38px;
	border: 1px solid #121212;
	cursor: pointer;
	border-radius: 5px;
    outline: none;
	padding: 0 12px;
	margin-left: 2px;
 }

 .project_block_top-title {
	font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    padding-bottom: 7px;
 }

 .project_block_top_sort_btn {
	height: 38px;
	border: 1px solid #121212;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px 12px;
	color: #121212;
    font-size: 16px;
 }

 .project_block_top_sort_btn:hover {
	color: #121212;
	text-decoration: none;
 }

 .project_block_top_sort_btn.active {
	background: #121212;
    color: #fff;
 }

 .project_block_top_wrap {
	display: flex;
    flex-direction: row;
    align-items: center;
 }

 .project_block_wrap {
	display: flex;
	flex-direction: column;
 }

 .project_block_wrap_head {
	display: flex;
    flex-direction: row;
	justify-content: space-between;
    align-items: flex-start;
	padding: 15px 0;
 }

 .project_block_code, 
 .project_block_email {
	display: block;
	width: 15%;
 }

 .project_block_name {
	display: block;
	width: 67%;
 }

 .project_block {
	margin-top: 25px;
 }

 .project_block_wrap_body {
	display: flex;
    flex-direction: row;
    align-items: flex-start;
	justify-content: space-between;
	padding: 12px 0;
	border-bottom: 1px solid #121212;
 }

 .search-error {
	margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
 }